extends layout

include _includes/sharedHTMLfunctions

block content
    .row.page-header
        .col-lg-12
            //page header
            h1= pageHeader.title
    .row
        .col-xs-12.col-md-9
            .row
                .col-xs-12.col-sm-6
                    p.rating
                        //using outputRating mixin from sharedHTMLfunctions
                        +outputRating(location.rating)
                    //Using panel components
                    p= location.address
                        .panel.panel-primary
                            .panel-heading
                                h2.panel-title Opening hours
                            .panel-body
                                //looping through all the opening times
                                each time in location.openingTimes
                                    p
                                        | #{time.days} :
                                        if time.closed
                                            |  closed
                                        else
                                            |  #{time.opening} - #{time.closing}
                            .panel-heading
                                h2.panel-title Facilities
                            .panel-body
                                each facility in location.facilities
                                    span.label.label-warning
                                        span.glyphicon.glyphicon-ok
                                        | &nbsp;#{facility}
                                    | &nbsp;
                .col-xs-12.col-sm-6.location-map
                    .panel.panel-primary
                        .panel-heading
                            h2.panel-title Location map
                        //static Google maps image
                        .panel-body
                            img.img-responsive.img-rounded(src='https://maps.googleapis.com/maps/api/staticmap?center=#{location.coords.lat},#{location.coords.long}&zoom=17&size=400x350&sensor=false&markers=#{location.coords.lat},#{location.coords.long}&scale=2&key=AIzaSyDZSYxEUQY3sff-Bd75paUVQzGhjmtkTN0')
            .row
                .col-xs-12
                    .panel.panel-primary.review-panel
                        .panel-heading
                            //Add review button. Links to the add review page
                            a.btn.btn-default.pull-right(href='/location/review/new') Add review
                            h2.panel-title Customer reviews
                        .panel-body.review-container
                            each review in location.reviews
                                //each row is a rating
                                .row
                                    .review
                                        .well.well-sm.review-header
                                            span.rating
                                                +outputRating(review.rating)
                                            span.reviewAuthor #{review.author}
                                            small.reviewTimestamp
                                                +formatDate(review.createdOn)
                                        .col-xs-12
                                            //replaces the line breaks for each text for each review to a <br/ > tag
                                            p !{(review.reviewText).replace(/\n/g, '<br/ >')}
        .col-xs-12.col-md-3
            p.lead= sidebar.context
            p= sidebar.callToAction
